
@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&display=swap');



body{
    box-sizing: border-box;
    margin: 0;
  
    padding: 0;
    min-height: 100%;
    display: flex;
    flex-direction: column;
}






.banner-container{
width: 1440px;
height: 652px;

margin: 0 auto;

background-image: url(../assets/Hero-bg.png);
background-position:center ;
background-size: cover;
 background-repeat: no-repeat;
 
}

.images {
    margin-top: 30px;
    display:flex;
    justify-content: center;
    align-items: center;

}
.banner-content1{
width: 850px;
height: 240px;

display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
margin: 0 auto;
text-align: center;
margin-bottom: 20px;

}


.section-title{

    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 30px;
    font-weight: 800;
    
    
}
.section-description{
 color: rgb(13, 19, 33);
font-family: Azeret Mono;
font-size: 16px;
font-weight: 400;

}
.btn{
width: 190px;
height: 66px;
background-color:rgb(13, 19, 33) ;
font-weight: 600;
 font-size: 15px;
color: white;
padding: 10px 20px;
border-radius: 5px;
margin-bottom: 10px;
margin-top: 50px;

}

.featured-image-container{
    
   width: 1140px;
   height: 1395px;
    margin: 0 auto;


}

.featured-title-container{
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
width: 50%;
margin: 0 auto;
text-align: center;

}
.featured-title-container h1{

color: rgb(13, 19, 33);
font-family: Azeret Mono;
font-size: 32px;
font-weight: 800;
}

.featured-title-container p{
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 16px;
    font-weight: 400;
}

.banner-section-container{
 /* border: 2px solid green; */
 max-width: 1140px;
height: 900px;
display: flex;
flex-direction: column;
 
}


banner-text-container1{
  width: 50%;
height: 240px;
display: flex;
 flex-direction: column;
 justify-content: center;
align-items:flex-start;
text-align: right;



}
.banner-image-container1{
   margin-right: 70px;
}

.banner-text-container1 h2 {
  color: rgba(13, 19, 33, 0.7);
  font-family: Azeret Mono;
  font-size: 24px;
  font-weight: 700;
    }
    .banner-text-container1 p {
      color: rgb(13, 19, 33);
      font-family: Azeret Mono;
      font-size: 16px;
      font-weight: 400;
    }
  
    .banner-text-container1 button {
      width: 120px;
      height: 40px;
      /* Auto layout */
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      padding: 10px 5px;
      margin-right: 306px;
    }
/* banner-part */

.banner-content {
    display: flex;
    width: 90%;
    margin: 0 auto;
}


.banner-text-container{
width: 50%;
height: 240px;
display: flex;
 flex-direction: column;
 justify-content: center;
align-items:flex-start;


}




.banner-text-container h2 {
color: rgba(13, 19, 33, 0.7);
font-family: Azeret Mono;
font-size: 24px;
font-weight: 700;
  }
  .banner-text-container p {
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 16px;
    font-weight: 400;
  }

  .banner-text-container button {
    width: 120px;
    height: 40px;
    /* Auto layout */
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 10px 5px;
    margin-right: 306px;
  }

  .banner-image-container{

    width: 50%;
    height: 240px;
    display: flex;
    
    justify-content: right;
    align-items: center;
  }

  .banner-image-container img {
    width: 260px;
    height: 240px;
    
    
  }

  .title{
/* border: 2px solid red; */
width: 90%;
height: 1395px;
margin:0 auto;


  }

  .title-description{
    /* border: 2px solid yellow; */
    
    width: 946px;
   height: 336px;
   padding: 48px;

  }

  .inspiration{
    display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
width: 50%;
margin: 0 auto;
text-align: center;

  }
  .inspiration h1{
    color: rgb(13, 19, 33);
font-family: Azeret Mono;
font-size: 32px;
font-weight: 800;

  }
  .inspiration p{
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 16px;
    font-weight: 400;
  }


  .skills-container{
    width: 1140px;
     height: 462px;
    display: flex;
    gap: 24px;
    /* border: 2px solid yellowgreen; */
}
#skill1{
width: 364px;
height: 299px;
border-radius: 16px;
background: rgba(255, 76, 30, 0.05);
}

#skill2{
width: 364px;
height: 299px;
border-radius: 16px;
background: rgba(0, 76, 232, 0.05);
}

#skill3{
width: 364px;
height: 299px;
border-radius: 16px;
background: rgba(255, 223, 0, 0.05);
}

.need-support{
  border-radius: 16px;

background: rgba(0, 0, 0, 0.2),rgba(0, 0, 0, 0.2),rgba(0, 0, 0, 0.2),url(Email);
  /* border: 2px solid blue; */
  width: 1140px;
height: 313px;
margin: 0 auto;
background-image: url(../assets/handshake.jpg);
background-position: center;
background-repeat: no-repeat;
background-size: cover;


}

.support-content{
 
/* Auto layout */
display: flex;
flex-direction: column;
justify-content: center;
align-items: center; 

}
.support-content h1{
  color: rgb(255, 255, 255);
font-family: Azeret Mono;
font-size: 32px;
font-weight: 700;

}

.support-content p{
  color: rgb(255, 255, 255);
  font-family: Azeret Mono;
  font-size: 16px;
  font-weight: 400;

}

.support-content input{
  width: 400px;
  height: 40px;
  border: none;
  border-radius: 8px;
   box-shadow:rgba(149, 157, 165, 0.2) 0px 8px 24px; ;

}
.button1{
  display: flex;
  flex-direction: row;
  text-align: center;
  
  margin-top: 20px;

  

}
.button1 input{

border: 1px solid rgba(13, 19, 33, 0.15);
border-radius: 8px;
width: 548px;
height: 57px;
  padding-left: 10px;
  margin-bottom: 50px;
}

#submit{
  width: 120px;
  height: 57px;
  border-radius: 8px;
  background: rgb(255, 255, 255);
  margin-left: 5px;
  font-weight:600;
  text-align: center;
  
  
 border: none;
  border-radius: 8px;
background-color: rgb(255, 255, 255);

}

.vedio-container iframe{
  width: 1076px;
  height: 550px;
  border-radius: 16px;


}
.vedio-container{

width: 1140px;
height: 777px;

/* border: 2px solid red; */

}







.footer{
  width: 1140px;
  height: 36px;
  top: 5145px;
/* Auto layout */

border-radius: 16px;
background: rgba(13, 19, 33, 0.03);


}

.footer-container{
  width: 1140px;
  height: 36px;
  
  
 display: flex;
 flex-direction: row;
 justify-content: space-between;
 align-items: center;
 margin-left: 565px;

}



.footer-container p{
color: rgb(13, 19, 33);
font-family: Azeret Mono;
font-size: 20px;
font-weight: 600;
}


.socialIcon{
  width: 200px;
  margin: 0 auto;
  
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-right: 2px;
}
